<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://phiarch.github.io/_/2021Overton/" title="Pond House"><img src="//images.weserv.nl/?url=https://github.com/phiarch/_/blob/master/2020CarbonNatural/IMG_20191019_135213.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Pond House" title="Pond House" /><span>Pond House</span></a></li>

    <li><a href="https://keanmgc.github.io/2021fall3yr-studio/" title="Part to Whole - Global to Local"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2019Furniture/table.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Part to Whole - Global to Local" title="Part to Whole - Global to Local" /><span>Part to Whole - Global to Local</span></a>

    <li><a href="https://phiarch.github.io/_/2020CarbonNatural.md" title="Carbon Natural"><img src="//images.weserv.nl/?url=https://github.com/phiarch/_/blob/master/2020CarbonNatural/IMG_20191019_135213.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Carbon Natural" title="Carbon Natural" /><span>Carbon Natural</span></a></li>

    <li><a href="https://keanmgc.github.io/2021-Spring-Studio/" title="Purpose-built Cities"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2019Furniture/table.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Purpose-built Cities" title="Purpose-built Cities" /><span>Purpose-built Cities</span></a>

    <li><a href="https://phiarch.github.io/_/2019Giving/" title="Giving Sculpture"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2019Furniture/table.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Huayi Space 2019 product line" title="Giving Sculpture" /><span>Giving Sculpture</span></a></li>

    <li><a href="https://phiarch.github.io/_/2019Anamnesis/" title="Anamnesis Exhibition"><img src="//images.weserv.nl/?url=https://github.com/phiarch/_/blob/master/2020CarbonNatural/IMG_20191019_135213.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Anamnesis Exhibition" title="Anamnesis Exhibition" /><span>Anamnesis Exhibition</span></a></li>

    <li><a href="https://phiarch.github.io/_/2019Furniture/" title="Huayi Space product line"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2019Furniture/table.png&w=300&h=300&output=jpg&q=50&fit=cover" alt="Huayi Space product line" title="Huayi Space product line" /><span>Huayi Space 2019 product line</span></a></li>

    <li><a href="https://phiarch.github.io/_/2017math.md/" title="A House for Maryam Mirzakhani"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2017MathComp/03.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="A House for Maryam Mirzakhani" title="A House for Maryam Mirzakhani" /><span>A House for Maryam Mirzakhani</span></a></li>

</ul>
