<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://phiarch.github.io/_/cn.md/" title="Carbon Natural"><img src="//images.weserv.nl/?url=https://github.com/phiarch/_/blob/master/2020%20Carbon%20Natural/IMG_20191019_135213.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Carbon Natural" title="Carbon Natural" /><span>Carbon Natural</span></a></li>

    <li><a href="https://phiarch.github.io/_/2017math.md/" title="A House for Maryam Mirzakhani"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/phiarch/_/master/2017%20Math%20Competition/03.png?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="A House for Maryam Mirzakhani" title="A House for Maryam Mirzakhani" /><span>A House for Maryam Mirzakhani</span></a></li>

</ul>
