<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/" title="Carbon Natural"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/SunBaiqianqian/SunBaiqianqian-Portfolio/master/assets/1520515702726532.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Carbon Natural" title="Carbon Natural" /><span>Carbon Natural</span></a></li>
  
</ul>
